@using Microsoft.CodeAnalysis.CSharp.Syntax
@model AramAnalyzer.Code.MatchReport

@{
	ViewData["Title"] = "Analysis";
}

<div class="text-center">
	@*<h1 class="display-4">Aram Analyzer</h1>
		<p>Analyze your ARAM games.</p>*@

	<div id="summary_area" class="container">
		<div class="text-center">
			<h3 class="display-4">Summary</h3>
		</div>
		<div id="summary_info" class="container" style="display: inline-block; width:500px; margin: 10px 0 30px 0">
			<p>@Model.PlayerName is on @Model.PlayerTeam team</p>
			
			@{
				double championsDifference = 0;
				double teamcompsDifference = 0;
			}
			
			<p>@if (Model.BlueTotalChampionPoints > Model.RedTotalChampionPoints)
			   {
				   @("Blue")
				   championsDifference = Model.BlueTotalChampionPoints - Model.RedTotalChampionPoints;
			   }
			   else
			   {
				   @("Red")
				   championsDifference = Model.RedTotalChampionPoints - Model.BlueTotalChampionPoints;
			   }
				team's champions are better by @championsDifference points
			</p>

			<p>@if (Model.BlueTotalTeamcompPoints > Model.RedTotalTeamcompPoints)
			   {
				   @("Blue")
				   teamcompsDifference = Model.BlueTotalTeamcompPoints - Model.RedTotalTeamcompPoints;
			   }
			   else
			   {
				   @("Red")
				   teamcompsDifference = Model.RedTotalTeamcompPoints - Model.BlueTotalTeamcompPoints;
			   }
				team's teamcomp is better by @teamcompsDifference points
			</p>
		</div>
	</div>

	<hr class="solid" style="border-top: 2px solid #bbb;">

	<div id="analysis_area" class="container">

		<div class="text-center">
			<h3 class="display-4">Champions</h3>
		</div>

		<div id="blue_champions" class="container blueBorder" style="display: inline-block; width: 500px; margin: 10px 10px 30px 10px">
			<div class="row" style="height:70px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:70px;">
					<p class="gridParagraph boldText">Champion name</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:70px;">
					<p class="gridParagraph boldText">Winrate</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:70px;">
					<p class="gridParagraph boldText">Damage dealt</p>
				</div>
				<div class="col-lg-2 col-md-2 gridCell" style="height:70px;">
					<p class="gridParagraph boldText">Damage received</p>
				</div>
			</div>
			
				@foreach (var blueTeamChampion in Model.BlueTeamChampions)
				{
					<div class="row" style="height:50px">
						<div class="col-lg-6 col-md-6 gridCell" style="height:50px;">
							<p class="gridParagraph">@blueTeamChampion.Name</p>
						</div>

						<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
							<p class="gridParagraph">@blueTeamChampion.Winrate%</p>
						</div>

						<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
							<p class="gridParagraph">@blueTeamChampion.DamageDealt</p>
						</div>
						<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
							<p class="gridParagraph">@blueTeamChampion.DamageReceived</p>
						</div>
					</div>
				}
			
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:50px;">
					<p class="gridParagraph boldText">Average winrate</p>
				</div>
			
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph boldText">@Model.BlueAverageWinrate%</p>
				</div>
			
				<div class="col-lg-4 col-md-4 gridCell" style="height:50px;">
				</div>
			</div>
		</div>

		<div id="red_champions" class="container redBorder" style="display: inline-block; width:500px; margin: 10px 10px 30px 10px">
			<div class="row" style="height:70px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:70px;">
					<p class="gridParagraph boldText">Champion name</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:70px;">
					<p class="gridParagraph boldText">Winrate</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:70px;">
					<p class="gridParagraph boldText">Damage dealt</p>
				</div>
				<div class="col-lg-2 col-md-2 gridCell" style="height:70px;">
					<p class="gridParagraph boldText">Damage received</p>
				</div>
			</div>
			@foreach (var redTeamChampion in Model.RedTeamChampions)
			{
				<div class="row" style="height:50px">
					<div class="col-lg-6 col-md-6 gridCell" style="height:50px;">
						<p class="gridParagraph">@redTeamChampion.Name</p>
					</div>

					<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
						<p class="gridParagraph">@redTeamChampion.Winrate%</p>
					</div>

					<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
						<p class="gridParagraph">@redTeamChampion.DamageDealt</p>
					</div>
					<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
						<p class="gridParagraph">@redTeamChampion.DamageReceived</p>
					</div>
				</div>
			}
			
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:50px;">
					<p class="gridParagraph boldText">Average winrate</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph boldText">@Model.RedAverageWinrate%</p>
				</div>

				<div class="col-lg-4 col-md-4 gridCell" style="height:50px;">
				</div>
			</div>
		</div>

		<hr class="solid" style="border-top: 2px solid #bbb;">

		<div class="text-center">
			<h4 class="display-4">Teamcomps</h4>
		</div>

		<div id="blue_teamcomp" class="container blueBorder" style="display: inline-block; width:500px; margin: 10px 10px 10px 10px">
			<div class="row" style="height:70px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:70px; ">
					<p class="gridParagraph boldText">Quantity</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:70px; ">
					<p class="gridParagraph boldText">Teamcomp group name</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:70px; ">
					<p class="gridParagraph boldText">Teamcomp points</p>
				</div>
			</div>
			@foreach (var blueTeamComp in Model.BlueTeamTeamcomp)
			{
				<div class="row" style="height:50px">
					<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
						<p class="gridParagraph">@blueTeamComp.Amount x</p>
					</div>

					<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
						<p class="gridParagraph">@blueTeamComp.GroupName</p>
					</div>

					<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
						<p class="gridParagraph">@blueTeamComp.Points</p>
					</div>
				</div>
			}

			<div class="row" style="height:50px">
				<div class="col-lg-9 col-md-9 gridCell" style="height:50px; ">
					<p class="gridParagraph boldText">Total teamcomp points</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph boldText">@Model.BlueTotalTeamcompPoints</p>
				</div>
			</div>
		</div>

		<div id="red_teamcomp" class="container redBorder" style="display: inline-block; width:500px; margin: 10px 10px 10px 10px">
			<div class="row" style="height:70px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:70px; ">
					<p class="gridParagraph boldText">Quantity</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:70px; ">
					<p class="gridParagraph boldText">Teamcomp group name</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:70px; ">
					<p class="gridParagraph boldText">Teamcomp points</p>
				</div>
			</div>
			@foreach (var redTeamComp in Model.RedTeamTeamcomp)
			{
				<div class="row" style="height:50px">
					<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
						<p class="gridParagraph">@redTeamComp.Amount x</p>
					</div>

					<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
						<p class="gridParagraph">@redTeamComp.GroupName</p>
					</div>

					<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
						<p class="gridParagraph">@redTeamComp.Points</p>
					</div>
				</div>
			}
			
			<div class="row" style="height:50px">
				<div class="col-lg-9 col-md-9 gridCell" style="height:50px; ">
					<p class="gridParagraph boldText">Total teamcomp points</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph boldText">@Model.RedTotalTeamcompPoints</p>
				</div>
			</div>
		</div>
	</div>
</div>